<div class="flex flex-col w-full items-center justify-center gap-4">
  <button id="shuffle-button" class="button"> Shuffle </button>
  <div
    class="shuffle-container-1 flex h-28 mx-auto p-4 gap-2 rounded-full border-2 border-stone-950"
  >
    <div
      class="grid place-content-center text-stone-50 text-lg font-bold size-full aspect-square bg-stone-950 shuffle-box rounded-full"
    >
      1
    </div>
    <div
      class="grid place-content-center text-stone-50 text-lg font-bold size-full aspect-square bg-stone-950 shuffle-box rounded-full"
    >
      2
    </div>
    <div
      class="grid place-content-center text-stone-50 text-lg font-bold size-full aspect-square bg-stone-950 shuffle-box rounded-full"
    >
      3
    </div>
    <div
      class="grid place-content-center text-stone-50 text-lg font-bold size-full aspect-square bg-stone-950 shuffle-box rounded-full"
    >
      4
    </div>
    <div
      class="grid place-content-center text-stone-50 text-lg font-bold size-full aspect-square bg-stone-950 shuffle-box rounded-full"
    >
      5
    </div>
    <div
      class="grid place-content-center text-stone-50 text-lg font-bold size-full aspect-square bg-stone-950 shuffle-box rounded-full"
    >
      6
    </div>
  </div>
  <div
    class="shuffle-container-2 flex h-28 mx-auto p-4 gap-2 rounded-full border-2 border-stone-950"
  >
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { Flip } from "gsap/Flip";

  gsap.registerPlugin(Flip);
  const container1 = document.querySelector(
    ".shuffle-container-1"
  ) as HTMLElement;
  const container2 = document.querySelector(
    ".shuffle-container-2"
  ) as HTMLElement;

  // Set initial width of container2 equal to container1
  if (container1 && container2) {
    container2.style.width = container1.offsetWidth + "px";
    container1.style.width = container1.offsetWidth + "px";
  }

  document.querySelector("#shuffle-button")?.addEventListener("click", () => {
    const boxes = gsap.utils.toArray(".shuffle-box") as HTMLElement[];
    const state = Flip.getState(boxes);

    const newContainer =
      boxes[0].parentNode === container1 ? container2 : container1;

    gsap.utils.shuffle(boxes).forEach((box) => {
      newContainer?.appendChild(box);
    });

    // Para mantener la posición de los box usar:
    // const target = boxes[0].parentNode === container1 ? container2 : container1;

    // boxes.forEach((box, i) => {
    //   target?.insertBefore(box, target.children[i] || null);
    // });

    Flip.from(state, {
      targets: boxes,
      duration: 0.8,
      ease: "power1.inOut",
    });
  });
</script>
