<h1
  id="split-text"
  class="text-4xl md:text-5xl lg:text-7xl font-medium invisible"
  aria-hidden="true"
>
  <slot />
</h1>
<span class="sr-only">
  <slot />
</span>

<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";
  gsap.registerPlugin(SplitText);

  SplitText.create("#split-text", {
    type: "words",
    smartWrap: true,
    autoSplit: true,
    wordsClass: "word++",
    aria: "hidden",
    onSplit(self) {
      gsap.set("#split-text", { autoAlpha: 1 });
      return gsap.from(self.words, {
        duration: 0.5,
        yPercent: 100,
        autoAlpha: 0,
        stagger: 0.1,
        ease: "expo.out",
      });
    },
  });
</script>
